<html>
  <div class="login-box">
    <div class="modal-box">
      <h1 class="title">Add a new record</h1>

      <input
        #listTitleInput
        class="user-box"
        type="text"
        placeholder="Enter list name..."
      />
      <br /><br />
      <div class="buttons is-right">
        <button class="btn btn-centre" routerLink="/profile">Cancel</button>
        <button
          class="btn btn-centre"
          (click)="createTask(listTitleInput.value)"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</html>

<!-- 
<p>new-task works!</p>

<input #inpTitle type="text" name="" id="" />
<button (click)="createTask(inpTitle.value)">Submit</button> -->
