@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");
.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 80%;
  min-height: 500px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color:  #44ddd0;
}
.task-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #9ceae2;
}
.task-list-container .top-bar {
  margin-bottom: 20px;
  display: flex;
}
.task-list-container .top-bar .title {
  flex-grow: 1;
  margin: 0;
}
.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
}
.list-menu .list-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  color: #5f5f5f;
  margin-bottom: 5px;
}
.list-menu .list-menu-item.is-active {
  background-color: #cff8ef;
}
.task {
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
}
.task:not(.complete) {
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.task:not(.complete):active {
  transform: scale(0.95);
}
.task:not(.complete):hover {
  box-shadow: 0 0 0 5px #eee;
}
.task:not(.complete):hover .task-buttons {
  opacity: 1;
  transform: scale(1);
}
.task.completed .task-text {
  text-decoration: line-through;
  opacity: 0.8;
}
.task .task-text {
  display: flex;
  flex-grow: 1;
}
.task .task-buttons {
  transition: opacity 0.2s, transform 0.2s;
  opacity: 0;
  transform: scale(0.85);
}
.circle-add-button {
  position: absolute;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.circle-button {
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.empty-state-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}

html {
  margin-top: 150px;
}
body {
  height: 100%;
}
.centered-content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: white;
  border-radius: 5px;
  padding: 35px;
}
.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.white-box {
  padding: 35px;
  background: white;
  border-radius: 5px;
  width: 350px;
  max-width: 350px;
}

a{
  color: black;
  text-decoration: none;
}

.top-bar{
  justify-content: end;
}

.logOut{
  display: flex;
  justify-content: end;
  margin-right: 100px;
  
}