<html>
  <head>
    <title>Home Page</title>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <main>
      <div class="intro">
        <h1>KLE Technological University</h1>
        <button><a href="https://kletech.ac.in/" target="_blank" style="color:white; text-decoration: none;">Learn More</a></button>
        <h2>Faculty Profile Management</h2>
      </div>
      <div class="about-me">
        <div class="about-me-text">
          <h2 class="C"><strong>About KLE Technological University</strong></h2>
          <p  id="1">
            <strong>KLE Technological University (KLE Tech) has its roots in B. V. Bhoomaraddi College of Engineering and Technology,
              Hubli (BVB), one of the premier engineering institutions of Karnataka. The founding organization KLE Society,
              Belgaum, established BVB college in 1947 with an aspiration of creating an institution that would lay the
              foundation of modern engineering education in northern region of Karnataka.</strong>
          </p>
        </div>
      </div>
      
      

      <div class="container" >
        <div class="row">
          <div class="col-sm">
            <h3 class="inf"><strong>Infrastructure</strong></h3>
      <div class="quote-wrapper">
        <blockquote class="text">
          <div class="text-header">
            <!-- <header><h3><strong>Experiential Learning</strong></h3></header> -->

          </div>
          <p class="el">To cater to modern engineering education needs, and support research activities, 
            SoCSE is well equipped with state-of-art infrastructure.</p>
          </blockquote>  
      </div>

          </div>
          <div class="col-sm">
            <h3 class="expler"><strong>Experimental Learning</strong></h3>
      <div class="quote-wrapper">
        <blockquote class="text">
          <div class="text-header">
            <!-- <header><h3><strong>Experiential Learning</strong></h3></header> -->

          </div>
          <p class="el">SoCSE believes in educating students through learning by doing.  
            Theoretical learning in the courses is enhanced by course projects and integrated projects.</p>
          </blockquote>  
      </div>
          </div>
          <div class="col-sm"><h3 class="expler"><strong>Student Clubs/Chapters</strong></h3>
            <div class="quote-wrapper">
              <blockquote class="text">
                <div class="text-header">
                  <!-- <header><h3><strong>Experiential Learning</strong></h3></header> -->
      
                </div>
                <p class="el">SoCSE has student clubs like CodeChef,
                  GeeksforGeeks which encourage competitive programming and building a community of competitive programmers.</p>
                </blockquote>  
            </div>
          </div>
        </div>
      </div>


    </main>
    <footer class="footer">
      <div class="copy">&copy; 2022 KLE-Technological-University</div>
      <div class="bottom-links">
        <div class="links">
          <span>More Info</span>
          <a routerLink="/" style="color:white; text-decoration: none;">Home</a>
          <a routerLink="/" style="color:white; text-decoration: none;">About</a>
          <a href="https://kletech.ac.in/" target="_blank" style="color:white; text-decoration: none;">Contact</a>
        </div>
        <div class="links">
          <span>Social Links</span>
          <a target="_blank" href="https://www.facebook.com/kletechbvb/"><i class="fab fa-facebook" ></i></a>
          <a target="_blank" href="https://twitter.com/kletechbvb?lang=en"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://www.instagram.com/kletechbvb/?hl=en"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
